
body{
		background-color: lightseagreen;
		padding: 15px;
		margin: 15px; 
	}
header {
	padding: 15px;
	margin: 15px;
	background-color: gray;
}
#titulo{
		font-family: cursive;
		font-size:	50px;
		text-align: center;
		color: white;
		}

.sub{
		color: lightgray;
		font-family: verdana;
	}

p{
	font-family: verdana;
	background: lightgray;
			
	}

footer{
	text-align: right;
	color: white;
	font-family: arial;
}
			

