
/* ............ Todo esto es ASIDE ........*/
aside {
	background-color: #025373;
	width: 35%;
	margin-right: 1%;
}
aside * {
	color:white;
}
aside h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-left: 3%; 
}
main *{
	margin-left: 1%;
}
aside section h2:first-child{
	border-bottom: 2px solid white;
}
aside p{
	text-align: center;
	color: #93AEBF;
}

aside dl {
	margin-left: 3%;

}
aside dl dt{
	color: #011826;
	font-weight: bold;
	font-size: 20px ;
}

/* ............ Todo esto es MAIN  ............*/

main section h2{
	text-transform: uppercase;
	letter-spacing: 3px;
}

.name {
	background-color: #03738C;	
	box-shadow: 3px 3px 10px 5px #025373 inset;
	text-align: center;
	padding: 80px;
}
.name h1{
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 40px;
	color: white;
	margin-block-start: 0;
    margin-block-end: 0;

}
.name h2{
	color: white;
	border-top: 3px solid white;
	text-transform: none;
	letter-spacing: none;
	margin-block-start: 0;
    margin-block-end: 0;

}
.education {
	background-color: #93AEBF;
}
.education h2{
	background-color: white;
	color:#011826;
}
article h3,
article h4{
	font-weight: bold;
}
article ul {
	list-style-type: square;
}
.experience {
	background-color: #93AEBF;
}
.experience h2{
	background-color: white;
	color:#011826;
}
h3{
	color: #025373;
}

/* ............ Todo esto es ESTRUCTURA ........*/

.container{
	display: flex;
}

/* ............ Todo esto es GENERAL ........*/
*{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
	list-style-type: none;
}
#profile-pic img{
	margin-top: 15%;
	border-radius: 50%;
}
#icons img{
	width: 10%;
	height: auto;
	border-radius: 50%;
}
img {
	width: 100%;
	height: auto;
}
footer{
	text-align: right;
	color: #025373;
	font-family: arial;
}
