
body{
		background-color: lightseagreen 
	}
header {
	padding: 17px;
}
#titulo{
		font-family: cursive;
		font-size:	60px;
		text-align: center;
		color: white;
		}

.sub{
		color: lightgray;
		font-family: verdana;
	}

p{
	font-family: verdana;
			
	}

footer{
	text-align: right;
	color: white;
	font-family: arial;
}
			

